.footer {
  height: 50rem;
  background-color: $color-black;
  color: $color-white;
  padding: 5rem 10rem;
  letter-spacing: 1px;

  &__title {
    
    
  }

  &__moto {
    font-size: 1.5rem;
    
  }
}