.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 6vw;
  z-index: 3;
  background-color: $color-primary;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  &__link {
    text-decoration: none;
    font-family: inherit;
  }

  &__logo {
    color: $color-secondary;
    font-size: 3.5rem;
  }
}

/*
  background-image: linear-gradient(to left bottom, rgba(0,0,0, .2), rgba(0,0,0,.5)), url("../../imgs/home-page-bg.jpg");
  min-height: 50rem;
  background-size: cover;
  background-position: bottom;
*/