.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11rem;
  padding: 0 6vw;
}

/*
  background-image: linear-gradient(to left bottom, rgba(0,0,0, .2), rgba(0,0,0,.5)), url("../../imgs/home-page-bg.jpg");
  min-height: 50rem;
  background-size: cover;
  background-position: bottom;
*/