.btn {
  border: none;
  outline: none;
  padding: 1.5rem 4rem;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 25px;
  font-size: 1.4rem;
  transition: all .2s;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 1rem 2rem #e19f17;
  background-color: $color-secondary;
  color: white;
  
  &:hover {
    transform: translateY(-1px);
    /* box-shadow: offsetX, offsetY, blure, color */
    box-shadow: 0 1.5rem 2rem #e19f17;

    
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 1rem 1rem #e19f17;
  }
}