.btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  transition: all .2s ease;

  box-shadow: 0 .5rem 2rem rgba(255, 255, 255, .1);

  &:hover {
    transform: translateY(-1px); 
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

.btn-main {
  background-color: $color-secondary;
  color: white;
  border-radius: 25px;
  padding: 1.3rem 4rem;
}

.btn-secondary {
  background-color: transparent;
  border-bottom: 1px solid $color-secondary;
  color: $color-secondary;
  padding: .4rem 1.4rem;
  max-width: max-content;
  font-weight: 600;
  box-shadow: none;

  &:hover {
    background-color: $color-secondary; 
    color: $color-white;
  }

}