.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__input {
    border: none;
    outline: none;
    border-radius: 30px;
    height: 4.5rem;
    text-align: center;
    font-family: inherit;
    font-size: 1.5rem;
    letter-spacing: 1px;
    width: 45rem;
    padding-left: 5rem;
    padding-right: 5rem;
    line-height: 1;

    &:focus {
      background-color: $color-secondary-light;
    }
  }

  &__icon {
    font-size: 1.8rem;
    position: absolute;
    top: 25%;
    left: 37%;
    opacity: .4;
    transition: all .4s ease-in;
  }

  &__input:not(:placeholder-shown) + &__icon,
  &__input:focus + &__icon {
    left: 2.5rem;
  }

  &__reset {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    background-color: $color-gray;
    color: $color-white;
    transition: all .4s ease;

    &:hover {
      
      background-color: $color-black;
    }
  }

}