.checkbox {
  height: 3rem;
  width: 3rem;
  border: 5px solid $color-secondary;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  

  &::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    background-color: $color-secondary;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s;

    // position absolute is relative to the first parent el with defined position (that position doesn't have to be relative)
    position: absolute;
  }
}