$color-primary: #FFC244;

$color-primary-light: #fdd075;

$color-secondary: #00A082;

$color-secondary-light: #E9F8F5;

$color-white: #fff;

$color-black: #000;

$color-gray: #eee;

$header-height: 11rem;

$card-border-radius: 10px;