.home-page {

  &__section {
    min-height: 50vh;
    text-align: center;
    padding: 5rem;
    padding-bottom: 8rem;    

    &--welcome {
      background-color: $color-primary;
      margin-bottom: -6rem;
    }

    &--special-offers {
      padding-top: 0;
      margin-top: -3rem;
    }

    &--why-foody {
      background-color: $color-secondary-light;
    }

  }

  &__welcome {
    
  }

  &__btn {
    margin-top: 6rem;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
  }

  &__list-item {
    margin-top: 5rem;

    &--picture-card {
      flex: 0 1 30rem;
    }
  }

}