.home-page {

  &__header {
    position: fixed;
    top: 0;
    left: 0; 
  }

  &__main {

  }

  &__section {
    min-height: 50vh;
    text-align: center;
    padding: 5rem;
    padding-bottom: 8rem;    

    &--welcome {
      background-color: $color-primary;
      padding-bottom: 2.5rem;
    }

    &--special-offers {
      padding-top: 0;
      margin-top: -3rem;
    }

    &--why-foody {
      background-color: $color-secondary-light;
    }

  }

  &__welcome {
    margin-top: 11rem;
  }

  &__btn {
    margin-top: 6rem;
  }

  &__feature-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
  }

  &__feature-item {
    margin-top: 5rem;
  }

}