.home-page {

  &__header {
    position: fixed;
    top: 0;
    left: 0;
  }

  &__main {

  }

  &__section {
    min-height: 50vh;
    text-align: center;
    padding: 5rem;

    &--welcome {
      background-color: $color-primary;
    }
  }

  &__welcome {
    margin-top: 11rem;
  }

  &__btn {
    margin-top: 6rem;
  }
}