html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

.title-primary {
  font-size: 4rem;
}

.title-secondary {
  font-size: 3rem;
  font-weight: 800;
}

.title-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
}