.mb-xs {
  margin-bottom: .5rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 2rem;
}

.mb-lg {
  margin-bottom: 3rem;
}

.mb-xl {
  margin-bottom: 4rem;
}



.mt-xs {
  margin-top: .5rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mt-md {
  margin-top: 2rem;
}

.mt-lg {
  margin-top: 3rem;
}

.mt-xl {
  margin-top: 4rem;
}

.mt-sm {
  margin-top: 1rem;
}


.mt-header-height {
  margin-top: $header-height;
 
}


.horizontal-rule {
  margin: 2rem 0;
  background-color: rgba($color-black, .8);
}


.txt-center {
  text-align: center;
}